:root {
	--elt-transitions: 0.3s;
	--color-0: #000105;
	--color-1: whitesmoke;
	--color-2: red;
	--color-3: yellow;
}

body {
	background-color: var(--color-0);
	text-align: center;
	font-family: 'Trebuchet MS';
	color: var(--color-1);
}

div, body {
	margin: 0;
	padding: 0;
	/*border: solid 1px grey;*/
}

path {
	fill: var(--color-1);
}

#head-logo {
	height: 100px;
	margin-top: 22px;
	position: relative;
}

payoff {
	display: block;
	margin: 24px;
	font-style: italic;
}

img {
	margin: 0px;
	padding: 0;
}

button {
	background-color: var(--color-1);
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border-radius: 100px;
	border: solid 2px var(--color-2);
	min-width: 150px;
	color: var(--color-2);
	transition: var(--elt-transitions);
	cursor: pointer;
}

button:hover {
	background-color: var(--color-2);
	color: var(--color-1);
	box-shadow: 0 0 5px var(--color-1);
}

.socials {
	height: 40px;
	margin: 8px;
	filter: brightness(200%);
	transition: var(--elt-transitions);
}

.socials:hover {
	transform: scale(1.1);
}

h2 {
	margin: 40px 0 15px 0;
	font-size: 2.5em;
}

.tool-logo {
	height: 80px;
	max-width: 320px;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 48px;
}

.child {
	/*width: 40%;*/
	max-width: 50%;
	padding: 1.5%;
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide {
	width: 85%;
	transition: 0.5s;
}

.inner-container {
	display: flex;
	justify-content: space-evenly;
	padding-top: 4px;
}

.inner-child {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: solid 2px var(--color-1);
}